<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Website</title>
    </head>
    <body>
        {{> header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Repudiandae inventore rem expedita impedit ad. 
            Veritatis adipisci inventore quia quas voluptatum nemo porro atque omnis, 
            perspiciatis magnam tenetur perferendis sequi pariatur?
        </p>
        {{> footer}}
    </body>
</html>